* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: norse-bold;
  src: url("./assets/font/Norse-Bold.otf");
}

body {
  display: flex;
  height: 100vh;
}

.first-half {
  min-width: 500px;
  background-image: url("./assets/background/halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-sec {
  position: relative;
  top: 20%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.ltext {
  top: 15%;
  position: relative;
  color: white;
  font-family: Norse-Bold;
  font-size: 8rem;
}

.second-half {
  background-color: #f6f6f6;
}

.para {
  font-size: 1.5rem;
  font-weight: 500;
}

.form-body {
  background-color: white;
  box-shadow: 5px 5px 10px #E5E7EB;
  height: 35vh;
}

legend {
  font-size: 1.6em;
  margin: 1rem 0;
}

legend,
label {
  color: #1f2937;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

fieldset > div {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

.btn {
  color: white;
  background-color: #596D48;
  border-radius: 5px;
  border: none;
  height: 2.5rem;
  width: 11rem;
  font-weight: bold;
}

.login {
  color: #596D48;
  font-weight: bold;
}
